.movie-container {
  display: flex;
  flex-direction: column;

  cursor: pointer;
  width: 350px;

  height: min-content;
}

img {
  height: 300px;
}

.icon-group {
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
